<%- include("partials/header") -%>
  
  
    <%  if(allPosts.length === 0){  %>
      <div class="home-empty-view" style="text-align: center; margin-top:150px">
        <h1 class="mainEmptyPage" style="color: #7126bafc">Publish your passions, your way</h1>
        <h4 class="mainEmptyPage" style="padding-top: 10px">Create a unique and beautiful blog easily.</h4>
        <a href="/compose" style="text-decoration: none"><button class="btn btn-compose">CREATE YOUR BLOG</button></a>
      </div>
      <style>
        body{
            background-image: url("/bg1.jpg");
            background-size: cover;
            height: 100vh;
        }
      </style>
    <%  } %>

    <%  allPosts.forEach(function(post){  %>
      
        <h2> <%=  post.title  %> </h2>
        <p> <%=  post.content.substring(0, 150)   %> .... </p> 
        <form action="/posts/<%=  post._id  %>" method="post">
          <button type="submit" name="id" value="<%= post._id %>" class="btn btn-sm">Read more</button>
        </form>
        <br><hr style="margin-top: -10px;">
    <%  }) %>

    <%  if(allPosts.length > 4){  %>
      <style>.footer {position: relative;}</style>
    <%  }else{  %>
      <style>.footer {position: absolute;}</style>
    <%  }  %>
  
  
<%- include("partials/footer") -%>